body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background: #243814;
  padding: 18px 0;
}

.header-content {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  background: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cadastro {
  background: #6d7f41;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}


.layout {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px); 
  align-items: stretch;
}

.logo img {
  width: 48px;
  height: auto;
}

.sidebar {
  width: 220px;
  background: #ffffff;
  border-right: 1px solid #ddd;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  color: #2f3d21;
  margin: 10px 15px;
}

.sidebar-item i {
  margin-right: 12px;
}

.sidebar-item:hover {
  background: #dce7cd;
  border-radius: 6px;
}

.sidebar-item.active {
  background: #6d7f41;
  color: #fff;
  border-radius: 6px;
}

/* Botão de Perfil */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 4px 10px 4px 4px;
  background-color: #2f4a2f;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.user-profile-hover{
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #6d7f41;
}

.arrow-icon{
  color: rgba(255, 255, 255, 0.2);
}

.arrow-icon-hover {
  color: white;
}

.img-perfil-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  object-fit: cover;
}

/* Menu Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 110%;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px 0;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.logout-item {
  color: #e74c3c !important;
}

.ativo {
  display: block !important;
}

/* CONTEÚDO */

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.content-wrapper h2 {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
  color: #243814;
}

.subtitle {
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
}

/* FILTROS */

.filter-box {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.filter-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}

.filter-group input,
.filter-group select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

/* LISTA */
.file-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-item {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-info h4 {
  margin: 0 0 6px;
  font-size: 16px;
}

.file-info p {
  margin: 0;
  font-size: 14px;
  color: #6b7280;
}

.btn-download {
  background: #2d3e1e;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-download:hover {
  background: #556b2f;
}

@media (max-width: 768px) {
  .filters {
    grid-template-columns: 1fr;
  }

  .file-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

/* RODAPÉ */
.footer {
  background-color: #2f4a2f;
  color: #dbe6d1;
  width: 100%;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

/* COLUNAS */
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left {
  align-items: flex-start;
}

.footer-center {
  align-items: center;
  text-align: center;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

/* TEXTOS */
.footer-col h3,
.footer-col strong {
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #dbe6d1;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* LOGO */
.logo-rodape {
  width: 150px;
  border-radius: 100px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.social a {
  background: #dbe6d1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rodape {
  width: 35px;

}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}