body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}
/* HEADER */

header {
  background: #243814;
  padding: 18px 0;
}

.header-content {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-login {
  background: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cadastro {
  background: #6d7f41;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Botão de Perfil */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 4px 10px 4px 4px;
  background-color: #2f4a2f;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.user-profile-hover{
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #6d7f41;
}

.arrow-icon{
  color: rgba(255, 255, 255, 0.2);
}

.arrow-icon-hover {
  color: white;
}

.img-perfil-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  object-fit: cover;
}

/* Menu Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 110%;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px 0;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.logout-item {
  color: #e74c3c !important;
}

.ativo {
  display: block !important;
}

/* LAYOUT */

.layout {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  align-items: stretch;
}

/* SIDEBAR */

.logo img {
  width: 48px;
  height: auto;
}

.sidebar {
  width: 220px;
  background: #ffffff;
  border-right: 1px solid #ddd;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  color: #2f3d21;
  margin: 10px 15px;
}

.sidebar-item i {
  margin-right: 12px;
}

.sidebar-item:hover {
  background: #dce7cd;
  border-radius: 6px;
}

.sidebar-item.active {
  background: #6d7f41;
  color: #fff;
  border-radius: 6px;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

/* BANNER */

.banner {
  height: 420px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #efe6d6;
}

.banner-text {
  max-width: 520px;
  text-align: right;
  margin-bottom: 100px;
}

.banner-text p {
  margin: 10px 0 10px 0px;
  font-size: 16px;
  color: #000000;
}

.banner-text h2 {
  font-size: 36px;
  font-weight: 800;
  color: #2d3e1e;
  margin: 0;
  line-height: 1.2;
}

.banner-text .btn-inscricao {
  display: inline-block;
  margin-top: 25px;
  background: #243814;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.banner-text .btn-inscricao:hover{
  background-color: #5c6d37;
}

/* LOGO DO BANNER */

.banner-logo {
  width: 40%;
  position: absolute;
  right: 45%;
}

.banner-logo img {
  width: 550px;
  max-width: 100%;
}

/* SEÇÕES */

.section {
  text-align: center;
  padding: 30px 40px;
}

.section-divider {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: 0 auto 25px auto;
}

.section h1 {
  color: #24381d;
  margin-bottom: 10px;
}

.section p {
  margin: 0 auto;
  font-size: 21px;
  color: #000000;
}

.subtitle {
  color: #000000;
  margin-bottom: 30px;
}

/* CARDS */

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.card-img {
  width: 325px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  background: #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER */

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 40px 0;
  background: rgba(0, 0, 0, 0.5);
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/* SETAS */

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 18px;
  z-index: 2;
}

.nav.prev {
  left: 20px;
}

.nav.next {
  right: 20px;
}

/* PROPOSTA*/

.sobre-container {
  max-width: 1100px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.titulo-com-linha {
  font-size: 32px;
  color: #24381d;
  margin-bottom: 10px;
}

.linha-titulo {
  width: 400px;
  height: 1px;
  background-color:  #ddd;
  margin-bottom: 20px;
}

.sobre-texto p {
  font-size: 20px;
  line-height: 1.8;
  color: #000000;
  max-width: 500px;
}

.sobre-imagem img {
  width: 420px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .linha-titulo {
    margin: 0 auto 20px;
  }

  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .sobre-imagem img {
    width: 100%;
    max-width: 350px;
  }

  .sobre-texto p {
    max-width: 100%;
  }
}

/* DOTS */

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}

/* proposta */

.proposta-2026 {
  display: flex;
  gap: 40px;
  padding: 32px 40px;
  max-width: 1200px;
  margin: 40px auto;

  background: #efe6d6;         
  border-radius: 14px;            
  box-shadow: 0 8px 24px rgba(0,0,0,0.08); 
}

.texto {
  flex: 1;
}

.texto h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.texto ul {
  padding-left: 20px;
}

.texto li {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: large;
}

.sublista {
  margin-top: 10px;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.imagem img {
  width: 100%;
  max-width: 420px;
  border: 6px solid #7fc46b;
}

/* Responsivo */
@media (max-width: 768px) {
  .proposta-2026 {
    flex-direction: column;
  }
}

/* patrocinadores */

.caixa-branca {
  background: #b8b8b8;
  border-radius: 14px;
  padding: 50px 40px;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  box-sizing: border-box;
}

.titulo-simples {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.titulo-linha {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px 0 30px;
  color: #666;
  font-size: 18px;
}

.titulo-linha::before,
.titulo-linha::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dcdcdc;
}

.titulo-linha::before {
  margin-right: 20px;
}

.titulo-linha::after {
  margin-left: 20px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.logos img {
  max-height: 90px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logos img:hover {
  transform: scale(1.05);
}

.patrocinador-master img {
  max-height: 120px;
}

@media (max-width: 768px) {
  .caixa-branca {
    padding: 30px 20px;
  }

  .logos {
    gap: 25px;
  }

  .logos img {
    max-height: 70px;
  }

  .patrocinador-master img {
    max-height: 90px;
  }
}

/* ORGANIZADORE*/

.organizadores-hero {
background: #efe6d6;
padding: 80px 20px;
text-align: center;
}


.organizadores-hero h1 {
font-size: 42px;
color: #3f5d2a;
margin-bottom: 15px;
}


.organizadores-hero p {
font-size: 20px;
color: #555;
}


.organizadores {
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
max-width: 1200px;
margin: 80px auto;
padding: 0 20px;
}


.organizador-card {
background: #fff;
width: 320px;
border-radius: 16px;
padding: 30px 25px;
text-align: center;
box-shadow: 0 8px 24px rgba(0,0,0,0.08);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.organizador-card:hover {
transform: translateY(-10px);
box-shadow: 0 14px 35px rgba(0,0,0,0.18);
}


.organizador-card img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 20px;
}


.organizador-card h3 {
font-size: 20px;
color: #3f5d2a;
margin-bottom: 8px;
}


.organizador-card .cargo {
font-size: 15px;
color: #f39c12;
font-weight: 600;
margin-bottom: 12px;
}


.organizador-card .descricao {
font-size: 15px;
color: #666;
line-height: 1.5;
}


@media (max-width: 768px) {
.organizadores-hero h1 {
font-size: 32px;
}


.organizadores {
margin: 50px auto;
}
}

/* RODAPÉ */
.footer {
  background-color: #2f4a2f;
  color: #dbe6d1;
  width: 100%;
  padding: 50px 0 20px;
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 40px;
}

/* COLUNAS */
.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left {
  align-items: flex-start;
}

.footer-center {
  align-items: center;
  text-align: center;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

/* TEXTOS */
.footer-col h3,
.footer-col strong {
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #dbe6d1;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* LOGO */
.logo-rodape {
  width: 150px;
  border-radius: 100px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.social a {
  background: #dbe6d1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rodape {
  width: 35px;

}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}